.admin__menu #menu-velanapps-core-core > a:before {
    content: url(../images/velanapps.png) !important;
    font-size: 2.4rem!important;
    position: relative!important;
    top: -0.2rem!important;
}